<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="display: none">
  <div>
    <p>パスワード</p>
    <%= f.password_field :password %>
  </div>
  <div>
    <p>タイトル</p>
    <%= f.text_field :title %>
  </div>
  <div>
    <p>説明</p>
    <%= f.text_area :explanation %>
  </div>
  <div>
    <p>開始日</p>
    <%= f.date_field :day_start %>
  </div>
  <div>
    <p>終了日</p>
    <%= f.date_field :day_end %>
  </div>
  <!--
  <div>
    <p>はずす日</p>
    <%= f.text_field :day_out %>
  </div>
  -->
  <div>
    <p>時間で分けるか</p>
    <%= f.check_box :enable_time %>
  </div>
  <div>
    <p>開始時間</p>
    <%= f.time_select :time_start %>
  </div>
  <div>
    <p>終了時間</p>
    <%= f.time_select :time_end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>

<% if controller.action_name == 'new' %>
<form action="<%= plans_url %>" method="POST">
<% else %>
<form action="<%= plan_url(@plan) %>" method="PUT">
<% end %>
  <input name="authenticity_token" type="hidden">

  <paper-input-decorator floatingLabel label="title">
    <input is="core-input" type="text" name="plan[title]"></input>
  </paper-input-decorator>

  <paper-input-decorator floatingLabel label="password">
    <input is="core-input" type="password" name="plan[password]"></input>
  </paper-input-decorator>

  <paper-input-decorator floatingLabel label="explanation">
    <input is="core-input" type="text" name="plan[explanation]"></input>
  </paper-input-decorator>

  <paper-input-decorator>
    <label style="color: #aaa; font-size: 0.75em;">start day</label>
    <input is="core-input" type="date" name="plan[day_start]"></input>
  </paper-input-decorator>

  <paper-input-decorator>
    <label style="color: #aaa; font-size: 0.75em;">end day</label>
    <input is="core-input" type="date" name="plan[day_end]"></input>
  </paper-input-decorator>

  <input type="hidden" name="plan[enable_time]" value="0"></input>
  <input id="enable_time" type="checkbox" name="plan[enable_time]" value="1" style="display: none"></input>
  <label for="enable_time" is="input-checkbox" label="enable time(現状無意味)" style="display: block"></label>

  <button is="submit-button" style="color: #388E3C; padding: none;">Submit</button>
</form>
