<%= form_for @opinion, :url => {:action => 'create_opinion'} do |f| %>
  <% if @opinion.errors.any? %>
    <div id="error_exopinionation">
      <h2><%= pluralize(@opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
      <% @opinion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>パスワード</p>
    <%= f.password_field :password %>
  </div>
  <div>
    <p>名前</p>
    <%= f.text_field :name %>
  </div>
  <div>
    <p>備考</p>
    <%= f.text_area :note %>
  </div>
  <div>
    <%= f.hidden_field :opinion %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
