<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if controller.action_name == 'new' %>
<form action="<%= plans_url %>" method="POST">
<% else %>
<form action="<%= plan_url(@plan.original_url) %>" method="PUT">
<% end %>
  <input name="authenticity_token" type="hidden">

  <paper-input-decorator floatingLabel label="title">
    <input is="core-input" type="text" name="plan[title]"></input>
  </paper-input-decorator>

  <paper-input-decorator floatingLabel label="password">
    <input is="core-input" type="password" name="plan[password]"></input>
  </paper-input-decorator>

  <paper-input-decorator floatingLabel label="explanation">
    <input is="core-input" type="text" name="plan[explanation]"></input>
  </paper-input-decorator>

  <paper-input-decorator>
    <label style="color: #aaa; font-size: 0.75em;">start day</label>
    <input is="core-input" type="date" name="plan[day_start]"></input>
  </paper-input-decorator>

  <paper-input-decorator>
    <label style="color: #aaa; font-size: 0.75em;">end day</label>
    <input is="core-input" type="date" name="plan[day_end]"></input>
  </paper-input-decorator>

  <input type="hidden" name="plan[enable_time]" value="0"></input>
  <input id="enable_time" type="checkbox" name="plan[enable_time]" value="1" style="display: none"></input>
  <label for="enable_time" is="input-checkbox" label="enable time(現状無意味)" style="display: block"></label>

  <button type="submit" is="submit-button" style="color: #388E3C; padding: none;" label="Submit"></button>

<% end %>


</form>
