<p id="notice"><%= notice %></p>

<h1>Listing Plans</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.title %></td>
        <td><%= link_to plan_path(plan.original_url) do %><paper-icon-button icon="search"></paper-icon-button><% end %></td>
        <td><%= link_to edit_plan_path(plan.original_url) do %><paper-icon-button icon="create" style="color: #43A047"></paper-icon-button><% end %></td>
        <td><%= link_to plan_path(plan.original_url), method: :delete, data: { confirm: 'Are you sure?' } do %><paper-icon-button icon="block" style="color: #E53935"></paper-icon-button><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_plan_path do%>
  <paper-button raised>New Plan</paper-button>
<% end %>
