<p id="notice"><%= notice %></p>

<h1><%= @plan.title %></h1>
<h3><%= @plan.explanation %></h3>

<table>
  <tr>
    <th>日程</th>
    <% if !@opinions.nil? %>
      <% for i in 0..@opinions.length - 1 do %>
        <th><%= @opinions[i].name %></th>
      <% end %>
    <% end %>
  </tr>
  <% for i in 0..@plan.day_number - 1 do %>
    <tr>
      <td><%= @plan.day_start + i %></td>
      <% if !@opinions.nil? %>
        <% for i in 0..@opinions.length - 1 do %>
          <!-- ここに個人の予定出力 -->
          <td>piyo</td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>

<%= render 'form_opinion' %>
